<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Redis demo</title>
  <link rel="shortcut icon" href="/img/favicon.ico?v=1.0" type="image/x-icon">
  <link rel="icon" href="/img/favicon.ico?v=1.0" type="image/x-icon">
  <style>body { text-align: center; padding: 3em 1em; }</style>
</head>

<body>
  <p><img src="/img/redis-node.png" width="265" height="66" alt="Nodejs, Redis" /></p>
  <p>Data: <%= data %></p>
</body>
</html>