name: Node CI

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
  schedule:
    - cron: "0 2 * * 1-5"

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [12.x, 13.x, 14.x]
        redis-version: [5]

    steps:
    - uses: actions/checkout@v1

    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v2
      with:
        node-version: ${{ matrix.node-version }}

    - name: Start Redis Server ${{ matrix.redis-version }}
      uses: supercharge/redis-github-action@1.1.0
      with:
        redis-version: ${{ matrix.redis-version }}

    - name: npm install, dedupe, build, lint, and test
      run: |
        npm install
        npm dedupe
        npm run build --if-present
        npm run lint
        npm test
      env:
        CI: true
        NODE_ENV: test
        REDIS_URL: redis://127.0.0.1:6379
        SECURE_KEY_STR: ${{ secrets.SECURE_KEY_STR }}
